[package]
name = "tonic"
# When releasing to crates.io:
# - Remove path dependencies
# - Update html_root_url.
# - Update doc url
#   - Cargo.toml
#   - README.md
# - Update CHANGELOG.md.
# - Create "v0.1.x" git tag.
version = "0.1.0-beta.1"
authors = ["Lucio Franco <luciofranco14@gmail.com>"]
edition = "2018"
license = "MIT"
documentation = "https://docs.rs/tonic/0.1.0-beta.1/tonic/"
repository = "https://github.com/hyperium/tonic"
homepage = "https://github.com/hyperium/tonic"
description = """
A gRPC over HTTP/2 implementation focused on high performance, interoperability, and flexibility.
"""
readme = "../README.md"
categories = ["web-programming", "network-programming", "asynchronous"]
keywords = ["rpc", "grpc", "async", "futures", "protobuf"]

[features]
default = ["transport", "codegen"]
codegen = ["async-trait", "prost", "prost-derive"]
transport = [
    "hyper",
    "tokio",
    "tower",
    "tower-balance",
    "tower-load",
    "tracing-futures",
]
tls = ["tokio-rustls"]
tls-roots = ["rustls-native-certs"]

# [[bench]]
# name = "bench_main"
# harness = false

[dependencies]
bytes = "0.5"
futures-core = "0.3"
futures-util = { version = "0.3", default-features = false }
tracing = "0.1"
http = "0.2"
base64 = "0.10"

percent-encoding = "1.0.1"
tower-service = "0.3"
tokio-util = { version = "0.2", features = ["codec"] }
async-stream = "0.2"
http-body = "0.3"
pin-project = "0.4"

# prost
prost = { version = "0.5", optional = true }
prost-derive = { version = "0.5", optional = true }

# codegen
async-trait = { version = "0.1.13", optional = true }

# transport
hyper = { version = "0.13", features = ["stream"], optional = true }
tokio = { version = "0.2", features = ["tcp"], optional = true }
tower = { version = "0.3", optional = true}
tower-make = { version = "0.3", features = ["connect"] }
tower-balance =  { version = "0.3", optional = true }
tower-load = { version = "0.3", optional = true }
tracing-futures = { version = "0.2", optional = true }

# rustls
tokio-rustls = { version = "0.12", optional = true }
rustls-native-certs = { version = "0.1", optional = true }

[dev-dependencies]
tokio = { version = "0.2", features = ["rt-core", "macros"] }
static_assertions = "1.0"
rand = "0.6"
criterion = "0.3"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]


