[package]
name = "grpc"
version = "0.9.0-alpha.1"
edition = "2021"
authors = ["gRPC Authors"]
license = "Apache-2.0"

[dependencies]
url = "2.5.0"
tokio = { version = "1.37.0", features = ["sync"] }
tonic = { version = "0.13.0", path = "../tonic", default-features = false, features = ["codegen"] }
futures-core = "0.3.31"
