[package]
name = "grpc"
version = "0.9.0-alpha.1"
edition = "2021"
authors = ["gRPC Authors"]
license = "MIT"

[dependencies]
url = "2.5.0"
tokio = { version = "1.37.0", features = ["sync", "rt", "net", "time", "macros"] }
tonic = { version = "0.14.0", path = "../tonic", default-features = false, features = ["codegen"] }
futures-core = "0.3.31"
serde_json = "1.0.140"
serde = "1.0.219"
hickory-resolver = { version = "0.25.1", optional = true }
rand = "0.8.5"
parking_lot = "0.12.4"
bytes = "1.10.1"

[dev-dependencies]
hickory-server =  "0.25.2"

[features]
default = ["dns"]
dns = ["dep:hickory-resolver"]

[package.metadata.cargo_check_external_types]
allowed_external_types = [
    "tonic::*",
    "futures_core::stream::Stream",
    "protobuf::codegen_traits::Message",
]
