[package]
name = "tonic-health"
version = "0.3.1"
authors = ["James Nugent <james@jen20.com>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/hyperium/tonic"
homepage = "https://github.com/hyperium/tonic"
documentation = "https://docs.rs/tonic-health/0.3.1/tonic-health/"
description = """
Health Checking module of `tonic` gRPC implementation.
"""
readme = "README.md"
categories = ["network-programming", "asynchronous"]
keywords = ["rpc", "grpc", "async", "healthcheck"]

[features]
default = ["transport"]
transport = ["tonic/transport"]

[dependencies]
tokio = { version = "1.0", features = ["sync"] }
tonic = { version = "0.4", path = "../tonic", features = ["codegen", "prost"] }
bytes = "1.0"
prost = "0.8"
tokio-stream = "0.1"
async-stream = "0.3"

[dev-dependencies]
tokio = { version = "1.0", features = ["rt-multi-thread", "macros"]}

[build-dependencies]
tonic-build = { version = "0.4", path = "../tonic-build" }
