[package]
name = "tonic-health"
version = "0.2.0"
authors = ["James Nugent <james@jen20.com>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/hyperium/tonic"
homepage = "https://github.com/hyperium/tonic"
description = """
Health Checking module of `tonic` gRPC implementation.
"""
readme = "README.md"
categories = ["network-programming", "asynchronous"]
keywords = ["rpc", "grpc", "async", "healthcheck"]

[features]
default = ["transport"]
transport = ["tonic/transport"]

[dependencies]
async-stream = "0.2"
tokio = { version = "0.3", features = ["sync", "stream"] }
tonic = { version = "0.3", path = "../tonic", features = ["codegen", "prost"] }
bytes = "0.6"
prost = { git = "https://github.com/danburkert/prost" }

[dev-dependencies]
tokio = { version = "0.3", features = ["rt", "macros"]}

[build-dependencies]
tonic-build = { version = "0.3", path = "../tonic-build" }