[package]
authors = ["James Nugent <james@jen20.com>"]
categories = ["network-programming", "asynchronous"]
description = """
Health Checking module of `tonic` gRPC implementation.
"""
documentation = "https://docs.rs/tonic-health/0.4.0/tonic-health/"
edition = "2018"
homepage = "https://github.com/hyperium/tonic"
keywords = ["rpc", "grpc", "async", "healthcheck"]
license = "MIT"
name = "tonic-health"
readme = "README.md"
repository = "https://github.com/hyperium/tonic"
version = "0.5.0"

[features]
default = ["transport", "rustfmt"]
rustfmt = ["tonic-build/rustfmt"]
transport = ["tonic/transport", "tonic-build/transport"]

[dependencies]
async-stream = "0.3"
bytes = "1.0"
prost = "0.9"
tokio = {version = "1.0", features = ["sync"]}
tokio-stream = "0.1"
tonic = {version = "0.6", path = "../tonic", features = ["codegen", "prost"]}

[dev-dependencies]
tokio = {version = "1.0", features = ["rt-multi-thread", "macros"]}

[build-dependencies]
tonic-build = {version = "0.6", path = "../tonic-build", features = ["prost"]}
