[package]
name = "tonic-reflection"
version = "0.2.0"
authors = [
  "James Nugent <james@jen20.com>",
  "Samani G. Gikandi <samani@gojulas.com>"
]
edition = "2018"
license = "MIT"
repository = "https://github.com/hyperium/tonic"
homepage = "https://github.com/hyperium/tonic"
description = """
Server Reflection module of `tonic` gRPC implementation.
"""
readme = "README.md"
categories = ["network-programming", "asynchronous"]
keywords = ["rpc", "grpc", "async", "reflection"]

[features]
default = ["rustfmt"]
rustfmt = ["tonic-build/rustfmt"]

[dependencies]
bytes = "1.0"
prost = "0.9"
prost-types = "0.9"
tokio = { version = "1.0", features = ["sync"] }
tokio-stream = { version = "0.1", features = ["net"] }
tonic = { version = "0.6", path = "../tonic", features = ["codegen", "prost"] }

[build-dependencies]
tonic-build = { version = "0.5=6", path = "../tonic-build", features = ["transport", "prost"] }

[dev-dependencies]
futures = "0.3"
futures-util = "0.3"
