[package]
name = "xds-client"
description = "An xDS client implementation in Rust"
version = "0.1.0-alpha.1"
edition = "2021"
homepage = "https://github.com/hyperium/tonic"
repository = "https://github.com/hyperium/tonic"
license = "MIT"
rust-version = { workspace = true }

[lints]
workspace = true

[dependencies]
bytes = "1.11.0"
futures = "0.3.31"
thiserror = "2.0.17"

[features]
default = ["transport-tonic"]
transport-tonic = ["rt-tokio", "codegen-prost"]
rt-tokio = []
codegen-prost = []
