[package]
name = "xds-client"
description = "An xDS client implementation in Rust"
version = "0.1.0-alpha.1"
edition = "2021"
homepage = "https://github.com/hyperium/tonic"
repository = "https://github.com/hyperium/tonic"
license = "MIT"
rust-version = { workspace = true }
publish = false

[lints]
workspace = true

[dependencies]
bytes = "1.11.0"
thiserror = "2"

[features]
default = ["transport-tonic"]
transport-tonic = ["rt-tokio", "codegen-prost"]
rt-tokio = []
codegen-prost = []

[package.metadata.cargo_check_external_types]
allowed_external_types = [
    # major released
    "bytes::*",
]
