[package]
authors = ["Lucio Franco <luciofranco14@gmail.com>"]
edition = "2018"
license = "MIT"
name = "interop"
publish = false
version = "0.1.0"

[[bin]]
name = "client"
path = "src/bin/client.rs"

[[bin]]
name = "server"
path = "src/bin/server.rs"

[dependencies]
async-stream = "0.3"
bytes = "1.0"
clap = {version = "4.0.26", features = ["derive"]}
console = "0.15"
futures-core = "0.3"
futures-util = "0.3"
http = "0.2"
http-body = "0.4.2"
hyper = "0.14"
prost = "0.11"
prost-derive = "0.11"
tokio = {version = "1.0", features = ["rt-multi-thread", "time", "macros", "fs"]}
tokio-stream = "0.1"
tonic = {path = "../tonic", features = ["tls"]}
tower = {version = "0.4"}
tracing = "0.1"
tracing-log = "0.1"
tracing-subscriber = {version = "0.3", features = ["env-filter"]}

[build-dependencies]
tonic-build = {path = "../tonic-build", features = ["prost"]}
