[package]
name = "interop"
version = "0.1.0"
authors = ["Lucio Franco <luciofranco14@gmail.com>"]
edition = "2018"
publish = false
license = "MIT"

[[bin]]
name = "client"
path = "src/bin/client.rs"

[[bin]]
name = "server"
path = "src/bin/server.rs"

[dependencies]
tokio = { version = "1.0", features = ["rt-multi-thread", "time", "macros", "fs"] }
tokio-stream = "0.1"
async-stream = "0.3"
tonic = { path = "../tonic", features = ["tls"] }
prost = "0.7"
prost-derive = "0.7"
bytes = "1.0"
http = "0.2"
futures-core = "0.3"
futures-util = "0.3"
tower = { version = "0.4" }
http-body = "0.4"
hyper = "0.14"
console = "0.14"
structopt = "0.3"
tracing = "0.1"
tracing-subscriber = "0.2"
tracing-log = "0.1"

[build-dependencies]
tonic-build = { path = "../tonic-build", features = ["prost"] }
