[package]
name = "tonic-interop"
version = "0.1.0"
authors = ["Lucio Franco <luciofranco14@gmail.com>"]
edition = "2018"
publish = false
license = "MIT"

[[bin]]
name = "client"
path = "src/bin/client.rs"

[[bin]]
name = "server"
path = "src/bin/server.rs"

[dependencies]
tokio = { version = "0.2", features = ["rt-threaded", "time", "macros", "stream", "fs"] }
tonic = { path = "../tonic", features = ["tls"] }
prost = "0.5"
prost-derive = "0.5"
bytes = "0.4"
http = "0.2"
futures-core = "0.3"
futures-util = "0.3"
async-stream = "0.2"
tower = "0.3"
http-body = "0.3"

console = "0.9"
structopt = "0.2"

tracing = "0.1"
tracing-subscriber = "0.2.0-alpha"
tracing-log = "0.1.0"

[build-dependencies]
tonic-build = { path = "../tonic-build" }
